<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>垃圾车监控系统登录模块</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default panel-primary">
                <div class="text-center">
                    <h1 class="center-block">注册</h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post">
                        <fieldset>
                            <label class="col-md-2 col-lg-offset-1 control-label">用户名：</label>
                            <div class="form-group col-md-8">
                                <input class="form-control " name="username" type="text" autofocus>
                            </div>

                            <label class="col-md-2 col-lg-offset-1 control-label">密码：</label>
                            <div class="form-group col-md-8">
                                <input class="form-control"  name="password" type="password" value="">
                            </div>
                            <div class="col-md-2 col-lg-offset-8">
                                <button type="submit"  class="btn btn-lg btn-primary ">注册</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="public/javascripts/sb-admin-2.js"></script>
</body>

</html>
